body {
  color:black;
  text-decoration: none;
}

/* Skew Forward */
.hvr-skew-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.hvr-skew-forward:hover, .hvr-skew-forward:focus, .hvr-skew-forward:active {
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
}

.left-align {
  float:left;
  margin-left: 0.5em;

}

.right-align {
  float:right;
  margin-right: 0.5em;
}

.menu-item {
  font-size:2em;
}
img {
	height:auto;
	max-height:908px;
}

p, li {
	font-weight: 300;
	font-size:16pt;
}

.post-content {
	max-width:600px;
}

.description h1 {
	letter-spacing: 2px;
}

.description {
	text-align: center;
	padding-bottom:40px;
}

.image {
	margin:20px;
}
