---
layout: front
style: dark
title: juliaschaefer.ch
---
  <body>
    <div id='content'>
      <div id='scroll-effect'></div>
      {{ site.frontpage }}
       {% for project in site.frontpage %}
       {% for image in project.images %}
      <div class='page'>
        <div class='page-element' style='background-image: url(/img/front/{{image}})'>
          <div class='menu rotated'>
            <span class='left-align hvr-skew-forward' style='display:block;'><a href='/about'>About</a></span>
            <span class='right-align hvr-skew-forward' style='display:block;'><a href='/portfolio/{{project.portfolio}}'>{{project.title}}</a></span>
          </div>
        </div>
      </div>
       {% endfor %}
       {% endfor %}
    </div>
  </body>
