html, body{
  border:0; margin:0; padding:0;
}


#content {
  position:fixed;
  background-color: black;
  width:100%;
}

#menu {
  font-family: 'overpassextralight', sans-serif;
  font-size: 2em;
  background-color: black;
  position:fixed;
  width: 1.5em;
  height: 100%;
  z-index:500;
}

#about {
  position:absolute;
  top:3em;
  left:0.2em;
}

#work {
  position:absolute;
  bottom:-0.8em;

  left: 0.2em;
}

.rotated {
      -ms-transform: rotate(270deg);
     -moz-transform:rotate(270deg);
  -webkit-transform:rotate(270deg);
       -o-transform:rotate(270deg);
       overflow: visible;
    white-space: nowrap;

    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

#menu a {
  color: white;
  text-decoration: none;
}

#scroll-effect {
  position:absolute;
  height:20px;
  width:100%;
  z-index: 1000;
  background: black; /* For browsers that do not support gradients */
/ background: -webkit-linear-gradient(lightgray, rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
  background:      -o-linear-gradient(lightgray, rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
  background:    -moz-linear-gradient(lightgray, rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
  background:         linear-gradient(lightgray, rgba(0,0,0,0)); /* Standard syntax (must be last) */
}

.page {
  position:fixed;
  top: 0px;
  left: 0px;
  width:100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  /*will-change: transform;*/
}

.page-element {
  margin-left: auto;
  margin-right: auto;
  height:100vh;
  width:auto;
  display: block;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.red {
  background-color: rgb(230, 110, 110);
}

.green {
  background-color: rgb(98, 236, 116);
}

.blue {
  background-color: rgb(70, 102, 237);
}

.black {
  background-color: rgb(0, 0, 0);
  color:white;
  font-size:16px;
}
